@{
    ViewData["Title"] = "Cinema";
 
}
 
<div class="jumbotron">
    <h1><center style="color:black">Cinema</center></h1>
       
      </div>

<p><center><img src="images/cinema.jpg" /></center></p> 

